---
apiVersion: automationcontroller.ansible.com/v1beta1
kind: AutomationController
metadata:
  name: {{ name_controller }}
  namespace: {{ ocp_namespace }}
spec:
  no_log: true
  postgres_storage_class: lvms-vg1
  projects_storage_class: lvms-vg1
